<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/CSS/dashboard.css">
    <title>Document</title>
</head>
<body>
    <div class="dashboardscreen">
        <div class="selection">
            <div class="routing"><a href="/Business/<%=id %>/dashboard">Dashboard</a></div>
            <div class="go_live"><a href="/Business/<%=id %>/go_live">Go_Live</a></div>
        </div>
        <div class="routes">
            <div class="features">
                <form action="/Business/<%=id  %>/addstations" method="post">
                    <div class="input-group flex-nowrap">
                        <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-route"></i></span>
                        <input type="text" class="form-control" placeholder="Station" aria-label="Username" aria-describedby="addon-wrapping" name="Station" id="Station">
                      </div>
                      <button type="submit" class="btn btn-outline-primary">Add</button>
                </form>
            </div>
            <% if(list){ %>
                    <% list.forEach((element,index) => { %>
                        <div class="stations">
                        <div class="details">
                            <div class="name"><%= element  %></div>
                            <div class="delete"><a href="/Business/<%=index %>/deletestation/<%=id  %>"><button type="button" class="btn btn-danger"><i class="fa-solid fa-trash"></i></button></a></div>
                        </div>
                    </div>
                    <% }); %>
                <% } %>
        </div>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDobeTVOJkIep3zpbTsEy-O-6kSvG731sQ&libraries=places"></script>
    <script src="/javascript/stations.js"></script>
</body>
</html>